<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/main.min.css">
    <title>Sushi finder</title>
</head>
<body class="sushi-body">
    
<div class="sushi-wrapper">

    <div class="sushi-header">
    <!--     <div class="shadow"></div> -->
            <h1 class="sushi-title">SushiSearch</h1>
            <input type="text" class="sushi-search" placeholder="Search..">
    </div>

    <div class="sushi-list">
        <h2 class="sushi-list-title">List of available sushi rolls</h2>
        <ul class="sushi-list-items">    
            <li class="sushi-list-item">Niranegi Tempura</li>
            <li class="sushi-list-item">Panko Ibodai</li>
            <li class="sushi-list-item">Tamago</li>
            <li class="sushi-list-item">Maki</li>
            <li class="sushi-list-item">Sumoku Sake</li>
            <li class="sushi-list-item">Natsu</li>
            <li class="sushi-list-item">California</li>
            <li class="sushi-list-item">Spicy tuna</li>
            <li class="sushi-list-item">Panko Chikin</li>
            <li class="sushi-list-item">Kunsei Tofu</li>
            <li class="sushi-list-item">Dragon</li>
            <li class="sushi-list-item">Futomaki</li>
            <li class="sushi-list-item">Shrimp tempura</li>
        </ul>
    </div>

</div>
    <script src="/js/sushi-finder.js"></script>    
</body>
</html>