<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.min.css">
    <title>TicTacToe</title>
</head>
<body class="ttt-body">
    <div class="ttt-wrapper">
        <div class="ttt-container">
            <button class="button-option"></button>
            <button class="button-option"></button>
            <button class="button-option"></button>
            <button class="button-option"></button>
            <button class="button-option"></button>
            <button class="button-option"></button>
            <button class="button-option"></button>
            <button class="button-option"></button>
            <button class="button-option"></button>
        </div>
        <button id="ttt-restart">Restart</button>
    </div>

    <div class="ttt-popup ttt-hidden">
        <p id="ttt-message">Sample msg</p>
        <button id="ttt-new-game">New Game</button>
    </div>

    <script src="../js/ticTacToe.js"></script>
</body>
</html>